<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('bootstrapcss') %>
        <title>Sign Up</title>
</head>

<body>

    <div class="d-flex align-items-center justify-content-center min-vh-100">
        <!-- <h3>Register a new user..</h3> -->
        <form action="/sign-up" method="post" class="w-25 p-4 border border-primary rounded">
            <div class="form-group">
                <label for="user-name">Enter Your Name</label>
                <input type="text" name="name" class="form-control" id="name" required />
            </div>
            <div class="form-group">
                <label for="user-username">Enter Username</label>
                <input type="text" name="username" class="form-control" id="username" required />
            </div>
            <div class="form-group">
                <label for="user-password">Enter Password</label>
                <input type="password" name="password" class="form-control" id="password" required />

                <button type="submit" class="btn btn-primary mt-2 mh-auto">Sign Up</button>
                <span class="ml-2">Already have an account? <a href="/login">Login</a> </span>
            </div>
        </form> 
    </div>

</body>

</html>