<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('bootstrapcss') %> 
    <title>Login</title>
</head>

<body>
    <div class="d-flex align-items-center justify-content-center min-vh-100">
            <!-- <h3>Log in to an existing account</h3> -->
            <form action="/login" method="post" class="w-25 p-4 border border-primary rounded">
                <div class="form-group">
                    <label for="post-title">Enter Username</label>
                    <input type="text" name="username" class="form-control" id="username" />
                </div>
                <div class="form-group">
                    <label for="post-url">Enter Password</label>
                    <input type="password" name="password" class="form-control" id="password" />

                    <button type="submit" class="btn btn-primary mt-2">Log In</button>
                    <span>Don't have an account? <a href="/sign-up">Signup</a> </span>
                </div>
            </form>
        </div>


</body>

</html>